@import "tailwindcss";

@font-face {
    font-family: "Abel";
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/Abel-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
}

:root {
    font-family: "Pretendard";
}

@layer components {
    .center-absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .no-scroll {
        scrollbar-width: none;
    }
}

@layer utilities {
    .transition-color-300 {
        transition: var(--transition-color-300-in-out);
    }
    
    .transition-all-300 {
        transition: var(--transition-all-300-in-out);
    }

    .no-scroll {
        scrollbar-width: none;
    }

    .shadow-0-4-20-0 {
        box-shadow: var(--shadow-0-4-20-0);
    }
}

@theme {
    --font-abel: 'Abel';
    --font-pretendard: 'Pretendard';

    --color-light-gray: #DBDBDB;
    --color-gray: #505050;
    --color-yellow: #EEEE81;
    --color-orange: #EEC881;
    --color-green: #B4EE81;
    --color-blue: #81B4EE;
    --color-purple: #C2B3F0;
    
    --transition-color-300-in-out: color 300ms ease-in-out;

    --transition-all-300-in-out: all 300ms ease-in-out;

    --shadow-0-4-20-0: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}